// Variables

$brand-primary: #F05F40;
$brand-info: #f0b740;

$font-family-serif: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;